/* 
.nav-pills .nav-link{
    border-radius: 5px;
    color: #000000;
    width: 0px;
    margin-left: -0px;
    padding-left: 10px;
    height: 50px;
    text-align: left;
}

.nav-pills .nav-link:hover{
    border-bottom: 2px solid #22428F;
    border-radius: 0px;
    color: #000000;
    padding: none;
    width: none;
}
.nav-pills .nav-item:not(:nth-last-child(1)) .nav-link{
    border-right: 2px solid rgb(255, 255, 255);
}
.tabsbox{
width: 1000px;
}
.container .nav .active{
    background-color:  transparent ;
    color: #000000;
}
.Container{
    border-bottom: 2px solid #a22424;
    background-color: none;
}
.nav-pills{
    width: 60%;
}
.bottomline{
    border-bottom: 1px solid #cccccc;
    width: 100%;
    position: relative;
    top: 50px;
}
.tabtext p{
    text-align: center;
}
.tabtext h2{
    text-align: center;
    font-weight: bold;    
}

.tabtext{
width: 1000px;
} */
